<tui-primitive-textfield
    #input
    tuiTextfieldIconLeft="tuiIconSearchLarge"
    class="tui-space_all-2"
    [tuiTextfieldLabelOutside]="true"
    [(value)]="value"
    (keydown.arrowDown.prevent)="onArrowDown(list, $event)"
    [tuiTextfieldCleaner]="true"
>
    Поиск
</tui-primitive-textfield>
<hr />
<tui-data-list
    #list
    emptyContent="Нет данных"
    (keydown)="onKeyDown($event.key, input.nativeFocusableElement)"
    tuiMultiSelectGroup
>
    <virtual-scroller #scroll [items]="items | tuiFilter : matcher : value"  class="h-80 overflow-hidden">
        <button
            *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn"
            tuiOption
            [value]="item"
            class="overflow-hidden"
        >
            {{ item.name}} - {{ item.price }} ₽
        </button>
    </virtual-scroller>
</tui-data-list>

<!-- <ng-container *ngFor="let item of items">
    <tui-opt-group
        *tuiLet="item.items | tuiFilter : matcher : value as filtered"
        [label]="item.typeName"
    >
        <tui-opt-group
            *ngIf="filtered.length"
            tuiMultiSelectGroup
        >
            <button
                *ngFor="let item of filtered; trackBy: trackByFn"
                tuiOption
                [value]="item"
            >
                {{ item.name}} - {{ item.price }} ₽
            </button>
        </tui-opt-group>
    </tui-opt-group>
</ng-container> -->
<!-- <virtual-scroller #scroll [items]="filtered" class="h-64"> -->