<div class="w-full p-2 border-r border-l border-color rounded-lg bg-white h-full shadow-lg"  >
    <div class="items-center mb-2 grid grid-cols-3">
        <div class=""></div>
        <div class="text-2xl font-semibold w-44 pl-12">Регистратура</div>
        <button
            tuiButton
            type="button"
            size="m"
            class="w-72 place-self-end"
            (click)="createReception()"
        >
            Добавление записи на прием
        </button>
    </div>
    <tui-loader
        *tuiLet="eventsList$ | async as eventsList"
        [showLoader]="!eventsList"
        [overlay]="true"
        class="overflow-y-auto" 
        [ngStyle]="{'height':'88%'}"
    >
        <full-calendar 
            [options]='calendarOptions'
            class="w-full pt-2"     
            [events]="eventsList"       
        >
            <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }} </b>
                <i> {{ arg.event.title }}</i><br>
            </ng-template>
        </full-calendar>
        <vet-crm-view-record-dialog
            class="hidden"
            [_recordView]="_recordView.asObservable()"
        ></vet-crm-view-record-dialog>
        
    </tui-loader>    
</div>

<ng-template
    #eventDropConfirm
    let-observer
>
    <p>Подтвердите перенос записи с</p>
    <strong>{{ eventDropValue?.oldEvent?.start | date:'EEEE, dd MMMM, H:mm' }}</strong>
    <p>на</p>
    <strong>{{ eventDropValue?.event?.start | date:'EEEE, d MMMM, H:mm'}}</strong>

    <div class="flex justify-around mt-2">
        <button
            tuiButton
            type="button"
            size="m"
            appearance="accent"
            class="bg-slate-500"
            (click)="observer.next()"
            [showLoader]="eventDroploading"
        >
            Подтвердить
        </button>
        <button
            tuiButton
            type="button"
            size="m"
            (click)="observer.complete()"
        >
            Отмена
        </button>
    </div>
</ng-template>

<ng-template
    #eventResizeConfirm
    let-observer
>
    <p>Подтвердите изменение времени записи с</p>
    <strong>{{ eventResizeValue?.oldEvent?.start | date:'H:mm' }} - {{ eventResizeValue?.oldEvent?.end | date:'H:mm' }}</strong>
    <p>на</p>
    <strong>{{ eventResizeValue?.event?.start | date:'H:mm'}} - {{ eventResizeValue?.event?.end | date:'H:mm'}}</strong>

    <div class="flex justify-around mt-2">
        <button
            tuiButton
            type="button"
            size="m"
            appearance="accent"
            class="bg-slate-500"
            (click)="observer.next()"
            [showLoader]="eventResizeLoading"
        >
            Подтвердить
        </button>
        <button
            tuiButton
            type="button"
            size="m"
            (click)="observer.complete()"
        >
            Отмена
        </button>
    </div>
</ng-template>

