<div class="w-full p-2 border-r border-l border-color rounded-lg bg-white h-full shadow-lg"  >
    <div class="items-center mb-2 grid grid-cols-3">
        <div class=""></div>
        <div class="text-2xl font-semibold w-44 pl-12">Регистратура</div>
        <button
            tuiButton
            type="button"
            size="m"
            class="w-72 place-self-end"
            (click)="createReception()"
        >
            Добавление записи на прием
        </button>
    </div>
    <tui-loader
        [showLoader]="loading"
        [overlay]="true"
        class="overflow-y-auto" 
        [ngStyle]="{'height':'92%'}"
    >
        <full-calendar 
            [options]='calendarOptions'
            class="w-full h-full"            
        >
            <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }}</b>
                <i>{{ arg.event.title }}</i><br>
                <b>sdfsdfh</b>
                <!-- {{arg|json}} -->
            </ng-template>
        </full-calendar>
        <!-- <div class=''>
            <h2>All Events ({{currentEvents.length}})</h2> flex justify-between
            <ul>
                <li *ngFor='let event of currentEvents'>
                    <b>{{event.startStr}}</b>
                    <i>{{event.title}}</i>
                </li>
            </ul>
        </div> -->
    </tui-loader>    
</div>
