<ng-template
    #templateRecordView
    let-observer
>
    <div class="space-y-4 mb-2 justify-center">
        <div class="tui-form__row tui-form__row_multi-fields">
            <div
                tuiGroup
                class="group tui-form__multi-field" 
                [collapsed]="true"
            >
                <tui-input-time
                    toNativeTime
                    [readOnly]="true"
                    [ngModel] = "currentRecord?.dateTimeStart | nativeToTuiTime"
                >
                    Время начала
                </tui-input-time>
                <tui-input-time
                    [readOnly]="true"
                    toNativeTime
                    [ngModel] = "currentRecord?.dateTimeEnd | nativeToTuiTime"
                >
                    Время окончания
                </tui-input-time>
            </div>
        </div>

        <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
                <tui-input-date
                    [readOnly]="true"
                    toNativeDate
                    [ngModel] = "currentRecord?.dateTimeStart"
                >
                    Дата
                </tui-input-date>
            </div>

            <div class="tui-form__multi-field">
                <tui-input
                    [ngModel] = "currentRecord?.kindOfAnimal"
                    [readOnly]="true"
                >
                    Вид питомца
                    <input
                        tuiTextfield
                        placeholder="Начните вводить вид"
                    />
                </tui-input>
            </div>
        </div>

        <div class="tui-form__row">
            <tui-input
                [ngModel] = "currentRecord?.employee?.fullName"
                [readOnly]="true"
            >
                Врач
            </tui-input>
        </div>

        <div class="tui-form__row">
            <tui-input
                [ngModel] = "currentRecord?.purpose?.purposeName || null"
                [readOnly]="true"
            >
                Цель визита
            </tui-input>
        </div>

        <div class="tui-form__row">
            <tui-input
                [ngModel] = "clientView"
                [readOnly]="true"
            >
                Клиент
            </tui-input>
        </div>
        <button
            tuiButton
            type="button"
            size="m"
            *ngIf="currentRecord?.client"
            class="w-52 tui-form__row"
            (click)="getClientCard()"
        >
            Перейти к клиенту
        </button>
    </div>


    <edit-delete-button
        class="w-32"
        (deleteAction)="deleteReceptionRecord(template)"
        (editAction)="editReceptionRecord()"
    ></edit-delete-button>
</ng-template>

<!-- Template dialog box for confirmation delete elements -->
<ng-template
    #template
    let-observer
>
    <p class="mb-2">Клиент: {{ clientView }}</p>
    <div class="flex justify-around">
        <button
            tuiButton
            type="button"
            size="m"
            appearance="accent"
            class="bg-slate-500"
            (click)="observer.next()"
        >
            Удалить
        </button>
        <button
            tuiButton
            type="button"
            size="m"
            (click)="observer.complete()"
        >
            Отмена
        </button>
    </div>
</ng-template>
