<div class="h-screen w-screen flex flex-col">
    
    <!-- Content -->
    <main class="h-full w-full bg-gray-100 flex flex-row"> 
      <div
        class="bg-sky-300 bg-opacity-70 tui-text_body-xl flex flex-col justify-between w-36 border-r border-black" 
        style="border-color: #e5e7eb;"
      >
        <div class="text-center">
          <button
            tuiButton
            type="button"
            appearance="flat"
            class="mx-1 my-0.5 text-black"
            size="s" 
            (click)="showDialogChoiceDepartment()"
          >
              <!-- <p class="text-lg text-orange-800">Ангарск</p>  -->
              <p class="text-lg text-red-700 leading-4">{{currentDepartment}}</p> 
          </button>
          <hr class="bg-gray-700 mt-0.5">
          <nav
              tuiTabs
              vertical="left"
              class="pl-1 w-36"
          >
              <button routerLink="/scheduler" tuiTab>
                <tui-svg
                    src="tuiIconCalendar"
                    class="tui-space_right-1"
                ></tui-svg>
                Регистратура
              </button>
              <button routerLink="/client-card" routerLinkActive tuiTab>
                <tui-svg
                    src="tuiIconUser"
                    class="tui-space_right-1"
                ></tui-svg>
                Карты клиентов
              </button>
              <button routerLink="/goods" routerLinkActive tuiTab>
                <tui-svg
                    src="tuiIconHome"
                    class="tui-space_right-1"
                ></tui-svg>
                <p class="mr-14">Склад</p> 
              </button>
              <button routerLink="/services" routerLinkActive tuiTab>
                <tui-svg
                    src="tuiIconClipboard"
                    class="tui-space_right-1"
                ></tui-svg>
                <p class="mr-14">Услуги</p> 
              </button>
              <button routerLink="/analytics" routerLinkActive tuiTab>
                <tui-svg
                    src="tuiIconBarChart2"
                    class="tui-space_right-1"
                ></tui-svg>
                <p class="mr-6">Аналитика</p> 
              </button>
              <button routerLink="/work-scheduler" routerLinkActive tuiTab>
                <tui-svg
                    src="tuiIconClock"
                    class="tui-space_right-1"
                ></tui-svg>
                График работы
              </button>
          </nav>
        </div>
        <div>
          <!-- <button
            tuiButton
            type="button"
            class="ml-1 mb-2"
            appearance="outline"
            size="s"
            (click)="getAdminPanel()"
            *ngIf="currentUser.role === 'ADMIN'"
          >
              <p class="text-base">Админ-панель</p> 
          </button> icon="tuiIconHome"-->
          
          <div class="text-lg pl-1 text-black text-center" [ngSwitch]="currentUser.role" >
            <ng-template ngSwitchCase="DOCTOR">Доктор</ng-template>
            <ng-template ngSwitchCase="ADMIN">Администратор</ng-template>
            <ng-template ngSwitchCase="MANAGER">Регистратура</ng-template>
          </div>
          <p class="text-base text-black text-center">{{ today | date:'d MMMM, H:mm' }}</p>
          <hr class="bg-black">
          <button
            tuiButton
            type="button"
            class="pl-2 " 
            appearance="custom"
            icon="tuiIconLogOut"
            size="s"
            (click)="logout()"
          >
            <p class="text-base ml-2">Выход</p> 
          </button>
        </div>
      </div>
      <div class="p-4 w-full h-full">
        <router-outlet *ngIf="true"></router-outlet> 
      </div>
    </main>
</div>

<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Выбор подразделения', size: 's', closeable: false, dismissible: false}"
  [(tuiDialog)]="openChoiceDepartment"
>
  <div 
    class="grid gap-4 items-center mt-4"
    [formGroup]="depCityForm"
  >
    <tui-select formControlName="city">
      Подразделения
      <input
        placeholder="Выберите ваш город"
        tuiTextfield
      />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="departmentsList"
      ></tui-data-list-wrapper>
    </tui-select>
    <p>
      <button
        tuiButton
        type="submit"
        (click)="submitDepartment(observer)"
      >
        Подтвердить
      </button>
    </p>
  </div>
</ng-template>