<form [formGroup]="addServiceForm" class="space-y-4 justify-center">
    <tui-input
        [tuiTextfieldCleaner] = true
        formControlName="name"
    >
        Наименование  
    </tui-input>
    <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-combo-box
        [stringify]="stringifyServices"
        formControlName="type"
    >
        Категория
        <input
            tuiTextfield
            placeholder="Начните вводить название"
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="serviceTypesList | tuiFilterByInputWith : stringifyServices"
            [itemContent]="stringifyServices | tuiStringifyContent"
        ></tui-data-list-wrapper>
    </tui-combo-box>

    <tui-error
        formControlName="typeId"
        [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input-number
        formControlName = "price"
        [min]="0"
        [max]="999999"
        [precision]="1"
        [tuiTextfieldPostfix] = "'₽'"
    >
        Цена 
    </tui-input-number>
    <tui-error
        formControlName="price"
        [error]="[] | tuiFieldError | async"
    ></tui-error>

    <button
        tuiButton
        type="button"
        size="m"
        [disabled]="!hasValue"
        (click)="submit()"
    >
        Добавить
    </button>

</form>


