<div class="w-full p-2 border-r border-l border-color rounded-lg bg-white max-h-full">
    <div tuiTextfieldSize="m" [formGroup]="searchForm" class="flex w-full justify-evenly items-center py-1">
        <tui-input
            class="lg:w-2/5"
            tuiTextfieldIconLeft = 'tuiIconSearchLarge'
            [tuiTextfieldCleaner] = true
            tuiTextfieldSize = 'l'
            formControlName="search"
        >
            Поиск товаров
            <input
                tuiTextfield
                placeholder ="Начните вводить наименование или категорию"
            />    
        </tui-input>

        <button
            tuiButton
            (click)="showDialog()"
            icon="tuiIconAddRowLarge"
            size="l"
        >
        <p class="text-lg">
            Добавить товар</p>
        </button>
    </div>

    <div class="p-2 h-full">
        <div class="items-center text-center mb-3">
            <div class="text-2xl font-semibold">Склад</div>
        </div>
        <tui-loader 
            [showLoader]="loading"
            [overlay]="true"
            class="flex flex-auto overflow-auto" 
            [ngStyle]="{'max-height':'70vh'}"
        >
            <table
                class="w-full pb-2"
                tuiTable
                [columns]="columns"
                *ngIf="filteredGoods.length !== 0"
            >
                <thead>
                    <tr tuiThGroup>
                        <th
                            *tuiHead="'name'"
                            tuiTh
                            [sorter]="null"
                        >
                            Наименование
                        </th>
                        <th
                            *tuiHead="'categoryName'"
                            tuiTh
                            [sorter]="categorySorter"
                        >
                            Группа
                        </th>
                        <th
                            *tuiHead="'quantity'"
                            tuiTh
                            class="lg:w-20"
                        >
                            Остаток
                        </th>       
                        <th
                            *tuiHead="'price'"
                            tuiTh
                            class="lg:w-20"
                        >
                            Цена
                        </th>
                        <th
                            *tuiHead="'actions'"
                            tuiTh
                            class="lg:w-64"
                            [sorter]="null"
                        >
                            Действия
                        </th>
                    </tr>
                </thead>
                <tbody
                    *tuiLet="filteredGoods | tuiTableSort as sortedFilteredGoods"
                    tuiTbody
                    [data]="sortedFilteredGoods"
                >
                    <tr
                        *ngFor="let goods of sortedFilteredGoods; let index = index"
                        tuiTr
                        [ngClass]="editedGoods.id === goods.id ? 'service-table__edit-select' : ''"
                    >
                        <td
                            *tuiCell="'name'"
                            tuiTd
                            class="edit"
                        >
                            <p *ngIf="editedGoods.id !== goods.id">
                                {{ goods.name }}
                            </p >
                            <tui-input
                                *ngIf="editedGoods.id === goods.id"
                                [ngModel] = "editedGoods.name"
                                (ngModelChange)="onValueChange($event, 'name')"
                                [tuiValidator]="stringValue"
                            >
                            </tui-input>
                        </td>
                        <td
                            *tuiCell="'categoryName'"
                            tuiTd
                        >
                            {{ goods.category.categoryName }}
                        </td>
                        <td
                            *tuiCell="'quantity'"
                            tuiTd
                            class="edit"
                            [ngClass]="editedGoods.id === goods.id ? 'shadow-inner' : ''"
                        >
                            <tui-input-number
                                [ngModel] = "editedGoods.quantity"
                                (ngModelChange)="onValueChange($event, 'quantity')"
                                [min]="0"
                                [max]="99999"
                                [precision]="1"
                                [tuiTextfieldPostfix] = "goods.measure"
                                *ngIf="editedGoods.id === goods.id"
                                [tuiValidator]="notNullValidator"
                            ></tui-input-number>

                            <p *ngIf="editedGoods.id !== goods.id">
                                {{ goods.quantity }} {{goods.measure}}
                            </p>
                        </td>
                        <td
                            *tuiCell="'price'"
                            tuiTd
                            class="edit"
                            [ngClass]="editedGoods.id === goods.id ? 'shadow-inner' : ''"
                        >
                            <tui-input-number
                                [ngModel] = "editedGoods.price"
                                (ngModelChange)="onValueChange($event, 'price')"
                                [min]="0"
                                [max]="99999"
                                [precision]="1"
                                [tuiTextfieldPostfix] = "'₽'"
                                *ngIf="editedGoods.id === goods.id"
                                [tuiValidator]="notNullValidator"
                            > </tui-input-number>

                            <p *ngIf="editedGoods.id !== goods.id">
                                {{ goods.price }} ₽
                            </p>
                        </td>
                        <td
                            *tuiCell="'actions'"
                            tuiTd
                        >
                            <div 
                                *ngIf="editedGoods.id !== goods.id" 
                                class="space-x-2 flex flex-row"
                            >
                                <div
                                    tuiGroup
                                    class="group"
                                >
                                    <button
                                        tuiButton
                                        size="s"
                                        (click)="editQuantity('Приход',editQuantityDialog,goods)"
                                    >
                                        Приход
                                    </button>
                                    <button
                                        tuiButton
                                        size="s"
                                        (click)="editQuantity('Списание',editQuantityDialog,goods)"
                                    >
                                        Списание
                                    </button>
                                </div>
                                <button
                                    tuiIconButton
                                    type="button"
                                    appearance="outline"
                                    size="s"
                                    icon = "tuiIconEdit"
                                    (click)="setEditableGoods(goods)"
                                    [tuiHint]="'Изменить'"
                                >
                                </button>
                                <button
                                    tuiIconButton
                                    type="button"
                                    appearance="secondary-destructive"
                                    size="s"
                                    icon="tuiIconTrash"
                                    (click)="deleteGoods(goods, deleteConfirmDialog)"
                                    [tuiHint]="'Удалить'"
                                >
                                </button>
                            </div>
                            <div *ngIf="editedGoods.id === goods.id" class="space-x-2"> 
                                <button
                                    tuiButton
                                    appearance="accent"
                                    size="s"
                                    (click)="updateGood()"
                                >
                                    Сохранить
                                </button>

                                <button
                                    tuiButton
                                    appearance="outline"
                                    size="s"
                                    (click)="deleteEditableGoods()"
                                >
                                    Отмена
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 
                *ngIf="filteredGoods.length === 0"
                class="text-xl font-bold text-center text-red-600"
            >
                Не удалось найти товар!
            </h3>
        </tui-loader>    
    </div>
</div>

<!-- Delete confirmation-->
<ng-template
    #deleteConfirmDialog
    let-observer
>
    <div class="flex justify-around">
        <button
            tuiButton
            type="button"
            size="m"
            appearance="accent"
            class="bg-slate-500"
            (click)="observer.next()"
        >
            Удалить
        </button>
        <button
            tuiButton
            type="button"
            size="m"
            (click)="observer.complete()"
        >
            Отмена
        </button>
    </div>
</ng-template>

<!-- edit quantity-->
<ng-template
    #editQuantityDialog
    let-observer
>
    <div class="flex flex-col justify-around space-y-2">
        <tui-input
            [ngModel] = "editQuantityGoods.quantity"
            [readOnly] = "true"
            [tuiTextfieldPostfix]="editQuantityGoods.measure!"
        >
            Текущий остаток
        </tui-input>
        <tui-input-number
            [ngModel] = "newQuantity"
            (ngModelChange)="editQuantityValueChange($event)"
            [min]="0"
            [max]="9999"
            [precision]="1"
            [tuiValidator]="notNullValidator"
            [tuiTextfieldPostfix]="editQuantityGoods.measure!"
        >
            Ввод количества
        </tui-input-number>
        <button
            tuiButton
            type="button"
            size="m"
            (click)="observer.next()"
        >
            Обновить остаток
        </button>
    </div>
</ng-template>