<tui-input-files
    accept="image/*,application/*"
    [multiple]="true"
    [formControl]="control"
    (reject)="onReject($event)"
    (ngModelChange)="control.markAsTouched()"
></tui-input-files>

<tui-files class="tui-space_top-1" *ngIf="!editMode">
    <tui-file
        *ngFor="let file of control.valueChanges | async"
        [file]="file"
        [showDelete]="control.enabled"
        (removed)="removeFile(file)"
    ></tui-file>

    <tui-file
        *ngFor="let file of rejectedFiles"
        state="error"
        [file]="file"
        [showDelete]="control.enabled"
        (removed)="clearRejected(file)"
    ></tui-file>
</tui-files>

<tui-files class="tui-space_top-1" *ngIf="editMode">
    <tui-file
        *ngFor="let file of control.value"
        [file]="file"
        [showDelete]="control.enabled"
        (removed)="removeFile(file)"
    ></tui-file>

    <tui-file
        *ngFor="let file of rejectedFiles"
        state="error"
        [file]="file"
        [showDelete]="control.enabled"
        (removed)="clearRejected(file)"
    ></tui-file>

</tui-files>
<h3
    *ngIf="control.value && control.value.length === 0"
    class="text-xl py-2 font-bold text-center"
>
    Нет файлов
</h3>
<tui-error
    [formControl]="control"
    [error]="['maxLength'] | tuiFieldError | async"
></tui-error>
