<div class="flex flex-row bg-white shadow-xl rounded-xl" *ngIf="true">

    <div class="w-full basis-full block h-full p-2 border-r border-l border-color rounded-lg bg-white">
        <div tuiTextfieldSize="m" class="flex justify-evenly items-center h-full py-auto">
            <form [formGroup]="searchForm">
                <tui-input
                    class="lg:w-96 mr-5"
                    tuiTextfieldIconLeft = 'tuiIconSearchLarge'
                    [tuiTextfieldCleaner] = true
                    tuiTextfieldSize = 'l'
                    formControlName="search"
                >
                    Поиск клиента
                    <input
                        tuiTextfield
                        placeholder ="Начните вводить ФИО или номер клиента"
                    />    
                </tui-input>
            </form>

            <button
                tuiButton
                (click)="showDialog()"
                icon="tuiIconAddRowLarge"
                size="l"
            >
            <p class="text-lg">
                Добавить клиента</p>
            </button>
        </div>

        <ng-container *ngIf="!clients">
            <div class="flex-none flex-col items-center text-center">
                <div class="mt-4 text-2xl font-semibold">Выберите</div>
            </div>
        </ng-container>
        
        <tui-loader [overlay]="true" [showLoader] = "loading">
            <div class="flex flex-col items-center text-center mb-3">
                <div class="mt-4 text-2xl font-semibold">Клиенты (Ближайшие записи)</div>
                <h3 
                    *ngIf="clients.length === 0 && !loading"
                    class="text-2xl font-bold text-center my-2 bg-red-400 rounded-md w-64 shadow-md"
                >
                    Клиент не найден!
                </h3>
            </div>
            <table
                class="w-full"
                tuiTable
                [columns]="columns"
                *ngIf="clients.length !== 0"
            >
                <thead>
                    <tr tuiThGroup>
                        <th
                            *tuiHead="'time'"
                            class="w-24"
                            tuiTh
                        >
                            Время
                        </th>
                        <th
                            *tuiHead="'fullName'"
                            tuiTh
                            class=""
                        >
                            ФИО
                        </th>
                        <th
                            *tuiHead="'telephone'"
                            tuiTh
                            [sorter]="null"
                        >
                            Телефон
                        </th>
                        <th
                            *tuiHead="'pets'"
                            tuiTh
                            class="w-1/3"
                            [sorter]="null"
                        >
                            Питомцы
                        </th>
                        <th
                            *tuiHead="'actions'"
                            tuiTh
                            class="lg:w-32"
                            [sorter]="null"
                        ></th>
                    </tr>
                </thead>
                <tbody
                    *tuiLet="clients | tuiTableSort as sortedClients"
                    tuiTbody
                    [data]="sortedClients"
                >
                    <tr
                        *ngFor="let client of sortedClients; let index = index"
                        tuiTr
                    >
                        <td
                            *tuiCell="'time'"
                            tuiTd
                        >
                            {{ client.time }}
                        </td>
                        <td
                            *tuiCell="'fullName'"
                            tuiTd
                        >
                            {{ client.client.fullName }}
                        </td>
                        <td
                            *tuiCell="'telephone'"
                            tuiTd
                        >
                            {{ client.client.telephoneNumber | tuiFormatPhone }}
                        </td>
                        <td
                            *tuiCell="'pets'"
                            class="w-1/3"
                            tuiTd
                        >
                            <div class="w-full overflow-x-auto whitespace-nowrap space-x-1">
                                <p *ngIf="!client.client.pets || client.client.pets.length === 0">Нет питомцев</p>
                                <tui-tag
                                    *ngFor="let tag of client.client.pets"
                                    size="m"
                                    [hoverable]="true"
                                    [value]="tag.alias"
                                    [autoColor]="true"
                                    [routerLink]="['pet', tag.id]"
                                    [tuiHint]="'Перейти к питомцу'"
                                ></tui-tag>
                            </div>
                        </td>
                        <td
                            *tuiCell="'actions'"
                            class="space-x-2"
                            tuiTd
                        >
                            <button
                                tuiButton
                                size="s"
                                (click)="setClient(client.client.id)"
                            >
                                Просмотр
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tui-loader>
    </div>
</div>