<form [formGroup]="addReceptionRecordForm" class="space-y-4 mt-2 justify-center">


    <div class="tui-form__row tui-form__row_multi-fields">
        <div
            tuiGroup
            class="group tui-form__multi-field" 
            [collapsed]="true"
        >
            <tui-input-time
                formControlName="startTime"
                [items]="workTimes"
                [strict]="true"
            >
                Время начала
            </tui-input-time>
            <tui-input-time
                formControlName="endTime"
                [items]="workTimesEnd"
                [strict]="true"
            >
                Время окончания
            </tui-input-time>
        </div>
    </div>
    <tui-error
        formControlName="startTime"
        [error]="[] | tuiFieldError | async"
    ></tui-error>

    <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
            <tui-input-date
                toNativeDate
                class="b-form"
                formControlName="date"
            >
                Дата
            </tui-input-date>
            <tui-error
                formControlName="date"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>

        <div class="tui-form__multi-field">
            <tui-combo-box
                class="b-form"
                formControlName="kindOfAnimal"
            >
                Вид питомца
                <input
                    tuiTextfield
                    placeholder="Начните вводить вид"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="petsKind | tuiFilterByInput"
                ></tui-data-list-wrapper>
            </tui-combo-box>

            <tui-error
                formControlName="kindOfAnimal"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
    </div>

    <div class="tui-form__row">
        <tui-combo-box
            class="b-form"
            [stringify]="stringifyEmployeeList"
            formControlName="employeeInput"
            [tuiTextfieldCleaner]="true"
        >
            Врач
            <input
                tuiTextfield
                placeholder="Начните вводить ФИО"
            />
            <tui-data-list-wrapper
                *tuiDataList
                [items]="employees | tuiFilterByInputWith : stringifyEmployeeList"
                [itemContent]="stringifyEmployeeList | tuiStringifyContent"
            ></tui-data-list-wrapper>
        </tui-combo-box>
        <tui-error
            formControlName="employeeInput"
            [error]="[] | tuiFieldError | async"
        ></tui-error>
    </div>

    <div class="tui-form__row">
        <tui-combo-box
            class="b-form"
            [stringify]="stringifyPurposeList"
            formControlName="visitPurposeInput"
            [tuiTextfieldCleaner]="true"
        >
            Цель визита
            <input
                tuiTextfield
                placeholder="Начните вводить цель"
            />
            <tui-data-list-wrapper
                *tuiDataList
                [items]="receptionPurposes | tuiFilterByInputWith : stringifyPurposeList"
                [itemContent]="stringifyPurposeList | tuiStringifyContent"
            ></tui-data-list-wrapper>
        </tui-combo-box>
        <tui-error
            formControlName="visitPurposeInput"
            [error]="[] | tuiFieldError | async"
        ></tui-error>
    </div>

    <div class="tui-form__row">
        <tui-combo-box
            formControlName="clientInput"
            [valueContent]="content"
            [tuiTextfieldCleaner]="true"
        >
            Клиент
            <input
                tuiTextfield
                placeholder="Введите ФИО"
                (input)="onSearchChange(extractValueFromEvent($event))"
            />
            <tui-data-list-wrapper
                *tuiDataList
                [items]="items$ | async "
                [itemContent]="content"
            ></tui-data-list-wrapper>
        </tui-combo-box>
        <tui-error
            formControlName="clientInput"
            [error]="[] | tuiFieldError | async"
        ></tui-error>
    </div>

    <div class="flex justify-between">
        <button
            tuiButton
            type="button"
            size="m"
            class="w-44"
            [disabled]="!hasValue"
            (click)="submit()"
            [showLoader]="loading"
        >
            <p *ngIf="data === 'edit'">Изменить</p>
            <p *ngIf="data === 'add'">Добавить</p>
        </button>
        <button
            tuiButton
            type="button"
            class="w-44"
            size="m"
            appearance="outline"
            (click) = "addClient()"
        >
            Добавить клиента
        </button>
    </div>
</form>

<ng-template
    #content
    let-data
>
    <p>{{ data.fullName }} <span class="text-gray-500 ml-2">{{ data.telephoneNumber }}</span> </p>
</ng-template>
