<form 
	(ngSubmit)="onSubmit()" 
	class="flex flex-col rounded-lg bg-white h-full items-center justify-center w-full" 
	[formGroup]="form" 
	[tuiTextfieldCleaner]="true"
	*ngIf="segmentForms"
>
<!-- enabledForm &&  -->
	<div class="flex flex-col space-y-2 w-full overflow-y-auto h-full" *ngIf="!twoColumns">
		<ng-container *ngFor="let filter of displaydForm " >
			<dynamic-filter-item 
				[input]="filter"  
				[form]="form" 
				class=""
			></dynamic-filter-item>
		</ng-container>
		<button tuiButton type="submit" [disabled]="!form.valid">Печать</button>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-4 overflow-y-auto w-full" *ngIf="twoColumns">
		<dynamic-filter-item 
			*ngFor="let filter of displaydForm"
			[input]="filter" 
			[form]="form" 
			class=""
		></dynamic-filter-item>
	</div>
</form>


<!-- 
<div class="flex p-2 w-full overflow-y-auto ">
	<tui-accordion class="w-full">
		<tui-accordion-item *ngFor="let segmentForm of segmentForms">
			{{segmentForm.title}}
			<ng-template tuiAccordionItemContent class="h-full">
				<ng-container *ngFor="let filter of segmentForm.dynamicFilterInputs" >
					<dynamic-filter-item 
						[input]="filter" 
						[form]="form" 
						class=""
						
					></dynamic-filter-item>
				</ng-container>
			</ng-template>
		</tui-accordion-item>
	</tui-accordion>
</div>
 -->