<div class="flex flex-col space-y-3" *ngIf="true">
    <div class="w-full h-full rounded-lg bg-white shadow-md">
        <tui-tabs [(activeItemIndex)]="activeItemIndex" class="justify-between items-center">
            <div class="flex flex-row">
                <button
                    tuiTab
                    
                >
                    <p class="ml-4 mr-2">
                        Основная информация
                    </p> 
                </button>
                <button
                    
                    tuiTab
                >
                    <p class="mx-4">Лист назначения </p>
                </button>
                <button
                    tuiTab
                >
                    <p class="mx-4">Чек</p>
                </button>
            </div>
            <button
                *ngIf="!editMode"
                tuiButton
                size="m"
                class="mr-2"
                (click)="submitReception()"
                [disabled]="!hasValue"
                [showLoader]="loadingSubmit"
            >
                <p class="text-base" [tuiHint]="'Необходимо заполнить цель визита и врача'">
                    Закончить прием
                </p>
            </button>
            <button
                *ngIf="editMode"
                tuiButton
                size="m"
                class="mr-2"
                (click)="submitReception()"
                [disabled]="!hasValue"
                [showLoader]="loadingSubmit"
            >
                <p class="text-base">
                    Изменить прием
                </p>
            </button>
        </tui-tabs>

        <tui-loader [overlay]="true" [showLoader] = "loading" class="p-2 shadow-inner overflow-auto" [ngStyle]="{'max-height':'85vh'}">
            <!-- Main information -->
            <div class="space-y-4" [formGroup]="addReceptionForm" *ngIf="activeItemIndex === 0">
                <div class="tui-form__row tui-form__row_multi-fields">
                    <div class="tui-form__multi-field">
                        <tui-combo-box
                            class="b-form"
                            [stringify]="stringifyPurposeList"
                            formControlName="visitPurposeInput"
                            [tuiTextfieldCleaner]="true"
                        >
                            Цель визита
                            <input
                                tuiTextfield
                                placeholder="Начните вводить цель"
                            />
                            <tui-data-list-wrapper
                                *tuiDataList
                                [items]="purposeList | tuiFilterByInputWith : stringifyPurposeList"
                                [itemContent]="stringifyPurposeList | tuiStringifyContent"
                            ></tui-data-list-wrapper>
                        </tui-combo-box>
                        <tui-error
                            formControlName="visitPurposeInput"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
            
                    <div class="tui-form__multi-field">
                        <tui-combo-box
                            class="b-form"
                            [stringify]="stringifyEmployeeList"
                            formControlName="employeeInput"
                            [tuiTextfieldCleaner]="true"
                        >
                            Врач
                            <input
                                tuiTextfield
                                placeholder="Начните вводить ФИО"
                            />
                            <tui-data-list-wrapper
                                *tuiDataList
                                [items]="employeeList | tuiFilterByInputWith : stringifyEmployeeList"
                                [itemContent]="stringifyEmployeeList | tuiStringifyContent"
                            ></tui-data-list-wrapper>
                        </tui-combo-box>
                        <tui-error
                            formControlName="employeeInput"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
                </div>

                <div class="tui-form">
                    <tui-input
                        [tuiTextfieldCleaner]="true"
                        formControlName="anamnesis"
                    >
                        Анамнез  
                    </tui-input>
                    <tui-error
                        formControlName="anamnesis"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>

                <div class="tui-form">
                    <tui-input
                        [tuiTextfieldCleaner] = true
                        formControlName="clinicalSigns"
                        size = "l"
                    >
                        Клинические признаки  
                    </tui-input>
                    <tui-error
                        formControlName="clinicalSigns"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>

            <!-- Assignment -->
            <div class="space-y-4" [formGroup]="addReceptionForm" *ngIf="activeItemIndex === 1">
                <div class="tui-form">
                    <tui-input
                        [tuiTextfieldCleaner] = true
                        formControlName="diagnosis"
                        size = "l"
                    >
                        Диагноз  
                    </tui-input>
                    <tui-error
                        formControlName="diagnosis"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                <tui-editor
                    exampleText="Example"
                    formControlName="assignment"
                    [exampleText]="'Введите рекомендации для клиента'"
                    [tools] = "editorSettengs"
                >
                    Лист назначения
                </tui-editor>
            </div>

            <!-- Check -->
            <div class="w-full pb-2" *ngIf="activeItemIndex === 2">                
                <div class="flex flex-row space-x-4 pb-2">
                    
                    <!-- Service Input -->
                    <div class="space-y-4 w-full">
                        <tui-select
                            class="control"
                            [identityMatcher]="identityMatcher"
                            [valueContent]="valueContentService"
                            [(ngModel)]="selectServiceInput"
                        >
                            Выбор услуги
                            <checkbox-list
                                *tuiDataList
                                [items]="servicesList"
                            ></checkbox-list>
                        </tui-select>
                    

                        <table
                            class="w-full"
                            tuiTable
                            [columns]="tablesColumns"
                            *ngIf="selectServiceInput.length > 0"
                        >
                            <thead>
                                <tr tuiThGroup>
                                    <th
                                        *tuiHead="'name'"       
                                        tuiTh
                                        [sorter]="null"
                                    >
                                        Услуга
                                    </th>
                                    <th
                                        *tuiHead="'price'"
                                        class="lg:w-20"
                                        tuiTh
                                        [sorter]="null"
                                    >
                                        Стоимость 
                                    </th>     
                                    <th
                                        *tuiHead="'quantity'"
                                        tuiTh
                                        class="lg:w-24"
                                        [sorter]="null"
                                    >
                                        Количество
                                    </th>            
                                    <th
                                        *tuiHead="'actions'"
                                        tuiTh
                                        class="lg:w-14"
                                        [sorter]="null"
                                    >
                                    </th>
                                </tr>
                            </thead>
                            <tbody
                                tuiTbody
                                [data]="selectedServices"
                            >
                                <tr
                                    *ngFor="let service of selectedServices; let index = index"
                                    tuiTr
                                >
                                    <td
                                        *tuiCell="'name'"
                                        tuiTd
                                    >
                                        {{ index+1 }}. <b>{{ service.name }}</b>
                                    </td>
                                    <td
                                        *tuiCell="'price'"
                                        tuiTd
                                    >
                                        {{ service.price }} ₽
                                    </td>
                                    <td
                                        *tuiCell="'quantity'"
                                        tuiTd
                                        class="shadow-inner"
                                        style="background-color: var(--tui-base-02) !important;"
                                    >
                                        <div>
                                            <tui-input-number
                                                [(ngModel)] = "service.quantity"
                                                [min]="0"
                                                [max]="50"
                                                [precision]="1"
                                            >
                                                Количество
                                            </tui-input-number>
                                        </div>
                                    </td>
                                    <td
                                        *tuiCell="'actions'"
                                        tuiTd
                                    >
                                        <button
                                            tuiIconButton
                                            appearance="secondary-destructive"
                                            size="s"
                                            icon="tuiIconTrash"
                                            title="Remove"
                                            shape="rounded"
                                            class="remove"
                                            (click) = "deleteService(service)"
                                        ></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3
                            *ngIf="selectServiceInput.length === 0"
                            class="text-xl font-bold text-center"
                        >
                            Услуги не выбраны
                        </h3>
                    </div>

                    <!-- Goods input -->
                    <div class="space-y-4 w-full">
                        <tui-select
                            class="control"
                            [identityMatcher]="identityMatcher"
                            [valueContent]="valueContentGoods"
                            [(ngModel)]="selectGoodsInput"
                        >
                            Выбор товара
                            <checkbox-list
                                *tuiDataList
                                [items]="goodsList"
                            ></checkbox-list>
                        </tui-select>         

                        <table
                            class="w-full"
                            tuiTable
                            [columns]="tablesColumns"
                            *ngIf="selectGoodsInput.length > 0"
                        >
                            <thead>
                                <tr tuiThGroup>
                                    <th
                                        *tuiHead="'name'"       
                                        tuiTh
                                        [sorter]="null"
                                    >
                                        Товар
                                    </th>
                                    <th
                                        *tuiHead="'price'"
                                        class="lg:w-20"
                                        [sorter]="null"
                                        tuiTh
                                    >
                                        Цена 
                                    </th>     
                                    <th
                                        *tuiHead="'quantity'"
                                        tuiTh
                                        [sorter]="null"
                                        class="lg:w-24"
                                    >
                                        Количество
                                    </th>            
                                    <th
                                        *tuiHead="'actions'"
                                        tuiTh
                                        class="lg:w-14"
                                        [sorter]="null"
                                    >
                                    </th>
                                </tr>
                            </thead>
                            <tbody
                                tuiTbody
                                [data]="selectedGoods"
                            >
                                <tr
                                    *ngFor="let goods of selectedGoods; let index = index"
                                    tuiTr
                                >
                                    <td
                                        *tuiCell="'name'"
                                        tuiTd
                                    >
                                        {{ index+1 }}. <b>{{ goods.name }}</b>
                                    </td>
                                    <td
                                        *tuiCell="'price'"
                                        tuiTd
                                    >
                                        {{ goods.price }} ₽
                                    </td>
                                    <td
                                        *tuiCell="'quantity'"
                                        tuiTd
                                        class="shadow-inner"
                                        style="background-color: var(--tui-base-02) !important;"
                                    >
                                        <tui-input-number
                                            [(ngModel)] = "goods.allQuantity < 1? goods.allQuantity : goods.quantity"
                                            [min]="0.01"
                                            [max]="goods.allQuantity"
                                            [precision]="2"
                                            [tuiTextfieldPostfix] = "goods.measure"
                                        >
                                            Количество
                                        </tui-input-number>
                                    </td>
                                    <td
                                        *tuiCell="'actions'"
                                        tuiTd
                                    >
                                        <button
                                            tuiIconButton
                                            appearance="secondary-destructive"
                                            size="s"
                                            icon="tuiIconTrash"
                                            title="Remove"
                                            shape="rounded"
                                            class="remove"
                                            (click) = "deleteGoods(goods)"
                                        ></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 
                            *ngIf="selectGoodsInput.length === 0"
                            class="text-xl font-bold text-center"
                        >
                            Товары не выбраны
                        </h3>
                        <!-- {{selectedServices | json}} -->
                    </div>
                </div>

                <div class="text-center flex justify-evenly items-center" [formGroup]="addReceptionForm" *ngIf="selectedServices.length !== 0 || selectedGoods.length !== 0">
                    <tui-input-slider
                        formControlName="discount"
                        [min]="0"
                        [max]="100"
                        [quantum]="1"
                        class="w-60"
                        [postfix]="'%'"
                    >Скидка</tui-input-slider>
                    <h1 class="tui-text_h4 w-56">Итог: {{check}}</h1>
                </div>
            </div>
        </tui-loader> 
    </div>
</div>