@import '~@taiga-ui/core/styles/taiga-ui-theme';
@import '~@taiga-ui/core/styles/taiga-ui-fonts';
@import '~@taiga-ui/styles/taiga-ui-global';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root {
    // Primary
    --tui-primary-text: #fff;
    --tui-primary: #F79B1C;
    --tui-primary-hover: #d8891b;
    --tui-primary-active: #aa6b13;
 
    // Link
    --tui-link: #f59726;
    --tui-link-hover: #fab00b;
 
    // Selection
    --tui-selection: #f3fadc;
}
