<div class="flex flex-col space-y-3" *ngIf="true">

    <div class="w-full h-full p-2 rounded-lg bg-white shadow-md">
        <div tuiTextfieldSize="m" class="flex justify-between items-center h-full py-auto">
            <div class="flex flex-row space-x-10">
                <div>
                    <p class="text-base"><b>{{client.fullName}}</b> | <b>{{client.telephoneNumber | tuiFormatPhone}}</b><br> 
                    Адрес: {{client.address}}</p>
                </div>
                <div
                    tuiGroup
                    class="group"
                    [collapsed]="true"
                >
                    <button
                        tuiButton
                        type="button"
                        appearance="secondary-destructive"
                        size="m"
                        (click)="showDialogEditClient()"
                    >
                        Изменить
                    </button>
                    <button
                        tuiButton
                        type="button"
                        appearance="accent"
                        size="m"
                        (click)="deleteClient(template)"
                    >
                        Удалить
                    </button>
                </div>
            </div>

            <button
                tuiButton
                icon="tuiIconFileLarge"
                size="m"
                (click)="showDialogAddPet()"
            >
                <p class="text-base">
                    Добавить питомца
                </p>
            </button>
            
        </div>
    </div>

    <div class="w-full h-full rounded-lg bg-white shadow-md">
        <tui-tabs [(activeItemIndex)]="activeItemIndex">
            <button
                tuiTab
            >
                <tui-svg
                    src="tuiIconCreditCardLarge"
                    class="ml-4 mr-2"
                ></tui-svg>
                Питомцы
            </button>
            <button
                tuiTab
            >
                <tui-svg
                    src="tuiIconFileLarge"
                    class="mr-2"
                ></tui-svg>
                Документы
            </button>
        </tui-tabs>

        <div class="p-2 shadow-inner overflow-auto" [ngStyle]="{'max-height':'75vh'}">
            <div *ngIf="activeItemIndex === 0">
                <table
                    class="w-full"
                    tuiTable
                    [columns]="petsColumns"
                    *ngIf="pets.length !== 0"
                >
                    <thead>
                        <tr tuiThGroup>
                            <th
                                *tuiHead="'alias'"
                                class="w-56"
                                tuiTh
                                [sorter]="null"
                            >
                                Кличка
                            </th>
                            <th
                                *tuiHead="'kind'"
                                tuiTh
                                [sorter]="null"
                            >
                                Вид
                            </th>
                            <th
                                *tuiHead="'gender'"
                                tuiTh
                                [sorter]="null"
                            >
                                Пол
                            </th>
                            <th
                                *tuiHead="'DOB'"
                                tuiTh
                                [sorter]="null"
                            >
                                Дата рождения
                            </th>
                            <th
                                *tuiHead="'breed'"
                                tuiTh
                                [sorter]="null"
                            >
                                Порода
                            </th>
                            <th
                                *tuiHead="'actions'"
                                tuiTh
                                class="lg:w-32"
                                [sorter]="null"
                            >Действия</th>
                        </tr>
                    </thead>
                    <tbody
                        tuiTbody
                        [data]="pets"
                    >
                        <tr
                            *ngFor="let pet of pets; let index = index"
                            tuiTr
                        >
                            <td
                                *tuiCell="'alias'"
                                tuiTd
                            >
                                <b>{{ pet.alias }}</b>
                            </td>
                            <td
                                *tuiCell="'kind'"
                                tuiTd
                            >
                                {{ pet.kind | checkNull}}
                            </td>
                            <td
                                *tuiCell="'gender'"
                                tuiTd
                            >
                                {{ pet.gender | formatPetGender }}
                            </td>
                            <td
                                *tuiCell="'DOB'"
                                tuiTd
                            >
                                {{ pet.DOB | date:'dd/MM/yyy' | checkNull}}
                            </td>
                            <td
                                *tuiCell="'breed'"
                                tuiTd
                            >
                                {{ pet.breed | checkNull}}
                            <td
                                *tuiCell="'actions'"
                                class="space-x-2"
                                tuiTd
                                (click) = "getPetDetail(pet.id)"
                            >
                                <button
                                    tuiButton
                                    size="s"
                                >
                                    Просмотр
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3 
                    *ngIf="pets.length === 0"
                    class="text-xl font-bold text-center my-2"
                >
                    Нет добавленных питомцев!
                </h3>
            </div>

            <div *ngIf="activeItemIndex === 1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur labore ea maiores voluptas 
                    aspernatur omnis vitae consequuntur explicabo est ducimus 
                    cumque facilis tenetur, expedita sint ut, ratione dicta reprehenderit. In.
                </p>
            </div>
        </div>
        
    </div>
</div>

<ng-template
    #template
    let-observer
>
    <p class="mb-2">{{client.fullName}}</p>
    <div class="flex justify-around">
        <button
            tuiButton
            type="button"
            size="m"
            appearance="accent"
            class="bg-slate-500"
            (click)="observer.next()"
        >
            Удалить
        </button>
        <button
            tuiButton
            type="button"
            size="m"
            (click)="observer.complete()"
        >
            Отмена
        </button>
    </div>
</ng-template>