<div class="flex flex-col space-y-3" *ngIf="true">

    <div class="w-full h-full p-2 rounded-lg bg-white shadow-md">
        <div tuiTextfieldSize="m" class="flex flex-row justify-around items-center h-full py-auto">
            <div class="space-x-2">   
                <tui-hosted-dropdown
                    [content]="dropdownAssignment"
                    [(open)]="openAssignment"
                >
                    <div tuiGroup>
                        <button
                            tuiButton
                            type="button"
                            size="m"
                            class="tui-group__auto-width-item"
                        >
                            Печать листа назначения
                        </button>
                        <button
                            tuiIconButton
                            type="button"
                            tuiHostedDropdownHost
                            title="Menu"
                            size="m"
                            class="tui-group__auto-width-item"
                            [iconRight]="icon" 
                        ></button>
                        <ng-template #icon>
                            <tui-svg
                                src="tuiIconChevronDown"
                                class="icon"
                                [class.icon_rotated]="openAssignment"
                            ></tui-svg>
                        </ng-template>
                        <ng-template
                            #dropdownAssignment
                            let-activeZone
                        >
                            <tui-data-list>
                                <button
                                    tuiOption
                                    (click)="onClick()"
                                >
                                    Скачать файл
                                </button>
                            </tui-data-list>
                        </ng-template>
                    </div>
                </tui-hosted-dropdown>
                <tui-hosted-dropdown
                    [content]="dropdownCheck"
                    [(open)]="openCheck"
                >
                    <div tuiGroup>
                        <button
                            tuiButton
                            type="button"
                            size="m"
                            class="tui-group__auto-width-item"
                        >
                            Печать чека
                        </button>
                        <button
                            tuiIconButton
                            type="button"
                            tuiHostedDropdownHost
                            title="Menu"
                            size="m"
                            class="tui-group__auto-width-item"
                            [iconRight]="icon"
                        ></button>
                        <ng-template #iconCheck>
                            <tui-svg
                                src="tuiIconChevronDown"
                                class="icon"
                                [class.icon_rotated]="openCheck"
                            ></tui-svg>
                        </ng-template>
                        <ng-template
                            #dropdownCheck
                            let-activeZone
                        >
                            <tui-data-list>
                                <button
                                    tuiOption
                                    (click)="onClick()"
                                >
                                    Скачать файл
                                </button>
                            </tui-data-list>
                        </ng-template>
                    </div>
                </tui-hosted-dropdown>
            </div>

            <button
                tuiButton
                size="m"
                (click)="submitReception()"
            >
                <p class="text-base">
                    Закончить прием
                </p>
            </button>
        </div>
    </div>

    <div class="w-full h-full rounded-lg bg-white shadow-md">
        <tui-tabs [(activeItemIndex)]="activeItemIndex" class="mb-2">
            <button
                tuiTab
            >
                <p class="ml-4 mr-2">
                    Основная информация
                </p> 
            </button>
            <button
                tuiTab
            >
                Лист назначения 
            </button>
            <button
                tuiTab
            >
                Чек 
            </button>
        </tui-tabs>

        <div class="p-2 overflow-auto max-w-full" >
            <!-- Main information -->
            <div class="space-y-4" [formGroup]="addReceptionForm" *ngIf="activeItemIndex === 0">
                <div class="tui-form__row tui-form__row_multi-fields">
                    <div class="tui-form__multi-field">
                        <tui-select
                            [tuiTextfieldLabelOutside]="true"
                            [valueContent]="purposeList ? stringifyPurposeList(purposeList) : loading"
                            formControlName="purpose"
                        >
                            Цель визита
                            <ng-template tuiDataList>
                                <tui-data-list *ngIf="purposeList; else loading">
                                    <button
                                        *ngFor="let item of purposeList"
                                        tuiOption
                                        [value]="item.id"
                                    >
                                        {{ item.purposeName }}
                                    </button>
                                </tui-data-list>
                            </ng-template>
                            <ng-template #loading>
                                <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                            </ng-template>
                        </tui-select>
                        <tui-error
                            formControlName="purpose"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
            
                    <div class="tui-form__multi-field">
                        <tui-select
                            [tuiTextfieldLabelOutside]="true"
                            [valueContent]="employeeList ? stringifyEmployeeList(employeeList) : loading"
                            formControlName="employee"
                        >
                            Цель визита
                            <ng-template tuiDataList>
                                <tui-data-list *ngIf="employeeList; else loading">
                                    <button
                                        *ngFor="let item of employeeList"
                                        tuiOption
                                        [value]="item.id"
                                    >
                                        {{ item.fullName }}
                                    </button>
                                </tui-data-list>
                            </ng-template>
                            <ng-template #loading>
                                <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                            </ng-template>
                        </tui-select>
                        <tui-error
                            formControlName="employee"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
                </div>

                <div class="tui-form">
                    <tui-input
                        [tuiTextfieldCleaner] = true
                        formControlName="anamnesis"
                    >
                        Анамнез  
                    </tui-input>
                    <tui-error
                        formControlName="anamnesis"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>

                <div class="tui-form">
                    <tui-input
                        [tuiTextfieldCleaner] = true
                        formControlName="clinicalSigns"
                        size = "l"
                    >
                        Клинические признаки  
                    </tui-input>
                    <tui-error
                        formControlName="clinicalSigns"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>

            <!-- Assignment -->
            <div class="space-y-4" [formGroup]="addReceptionForm" *ngIf="activeItemIndex === 1">
                <div class="tui-form">
                    <tui-input
                        [tuiTextfieldCleaner] = true
                        formControlName="diagnosis"
                        size = "l"
                    >
                        Диагноз  
                    </tui-input>
                    <tui-error
                        formControlName="diagnosis"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                <tui-editor
                    exampleText="Example"
                    formControlName="assignment"
                    [exampleText]="'Введите рекомендации для клиента'"
                    [tools] = "editorSettengs"
                >
                    Лист назначения
                </tui-editor>
            </div>

            <!-- Check -->
            <div class="w-full pb-2" *ngIf="activeItemIndex === 2">
                
                <div class="flex flex-row space-x-4">
                    <!-- Service Input -->
                    <div class="space-y-4 w-full">
                        <tui-select
                            class="control"
                            [identityMatcher]="identityMatcher"
                            [valueContent]="valueContentService"
                            [(ngModel)]="selectServiceInput"
                        >
                            Выбор услуги
                            <checkbox-list
                                *tuiDataList
                                [items]="servicesList"
                            ></checkbox-list>
                        </tui-select>
                    

                        <table
                            class="w-full"
                            tuiTable
                            [columns]="servicesColumns"
                            *ngIf="selectServiceInput.length > 0"
                        >
                            <thead>
                                <tr tuiThGroup>
                                    <th
                                        *tuiHead="'name'"       
                                        tuiTh
                                        [sorter]="null"
                                    >
                                        Услуга
                                    </th>
                                    <th
                                        *tuiHead="'price'"
                                        class="lg:w-20"
                                        tuiTh
                                        [sorter]="null"
                                    >
                                        Стоимость 
                                    </th>     
                                    <th
                                        *tuiHead="'quantity'"
                                        tuiTh
                                        class="lg:w-24"
                                        [sorter]="null"
                                    >
                                        Количество
                                    </th>            
                                    <th
                                        *tuiHead="'actions'"
                                        tuiTh
                                        class="lg:w-14"
                                        [sorter]="null"
                                    >
                                    </th>
                                </tr>
                            </thead>
                            <tbody
                                tuiTbody
                                [data]="selectedServices"
                            >
                                <tr
                                    *ngFor="let service of selectedServices; let index = index"
                                    tuiTr
                                >
                                    <td
                                        *tuiCell="'name'"
                                        tuiTd
                                    >
                                        {{ index+1 }}. <b>{{ service.name }}</b>
                                    </td>
                                    <td
                                        *tuiCell="'price'"
                                        tuiTd
                                    >
                                        {{ service.price }} ₽
                                    </td>
                                    <td
                                        *tuiCell="'quantity'"
                                        tuiTd
                                    >
                                        <div>
                                            <tui-input-count
                                                [(ngModel)] = "service.quantity"
                                                [min]="1"
                                                [max]="10"
                                            >
                                                Количество
                                            </tui-input-count>
                                        </div>
                                    </td>
                                    <td
                                        *tuiCell="'actions'"
                                        tuiTd
                                    >
                                        <button
                                            tuiIconButton
                                            appearance="secondary-destructive"
                                            size="s"
                                            icon="tuiIconTrash"
                                            title="Remove"
                                            shape="rounded"
                                            class="remove"
                                            (click) = "deleteService(service)"
                                        ></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3
                            *ngIf="selectServiceInput.length === 0"
                            class="text-xl font-bold text-center"
                        >
                            Выберите услугу!
                        </h3>
                    </div>

                    <!-- Goods input -->
                    <div class="space-y-4 w-full">
                        <tui-select
                            class="control"
                            [identityMatcher]="identityMatcher"
                            [valueContent]="valueContentGoods"
                            [(ngModel)]="selectGoodsInput"
                        >
                            Выбор товара
                            <checkbox-list
                                *tuiDataList
                                [items]="goodsList"
                            ></checkbox-list>
                        </tui-select>         

                        <table
                            class="w-full"
                            tuiTable
                            [columns]="servicesColumns"
                            *ngIf="selectGoodsInput.length > 0"
                        >
                            <thead>
                                <tr tuiThGroup>
                                    <th
                                        *tuiHead="'name'"       
                                        tuiTh
                                        [sorter]="null"
                                    >
                                        Услуга
                                    </th>
                                    <th
                                        *tuiHead="'price'"
                                        class="lg:w-20"
                                        [sorter]="null"
                                        tuiTh
                                    >
                                        Цена 
                                    </th>     
                                    <th
                                        *tuiHead="'quantity'"
                                        tuiTh
                                        [sorter]="null"
                                        class="lg:w-24"
                                    >
                                        Количество
                                    </th>            
                                    <th
                                        *tuiHead="'actions'"
                                        tuiTh
                                        class="lg:w-14"
                                        [sorter]="null"
                                    >
                                    </th>
                                </tr>
                            </thead>
                            <tbody
                                tuiTbody
                                [data]="selectedGoods"
                            >
                                <tr
                                    *ngFor="let goods of selectedGoods; let index = index"
                                    tuiTr
                                >
                                    <td
                                        *tuiCell="'name'"
                                        tuiTd
                                    >
                                        {{ index+1 }}. <b>{{ goods.name }}</b>
                                    </td>
                                    <td
                                        *tuiCell="'price'"
                                        tuiTd
                                    >
                                        {{ goods.price }} ₽
                                    </td>
                                    <td
                                        *tuiCell="'quantity'"
                                        tuiTd
                                    >
                                        <tui-input-number
                                            [(ngModel)] = "goods.quantity"
                                            [min]="1"
                                            [max]="50"
                                            [precision]="1"
                                        >
                                            Количество
                                            <input
                                                tuiTextfield
                                                placeholder="Введите количество"
                                            />
                                        </tui-input-number>
                                    </td>
                                    <td
                                        *tuiCell="'actions'"
                                        tuiTd
                                    >
                                        <button
                                            tuiIconButton
                                            appearance="secondary-destructive"
                                            size="s"
                                            icon="tuiIconTrash"
                                            title="Remove"
                                            shape="rounded"
                                            class="remove"
                                            (click) = "deleteGoods(goods)"
                                        ></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 
                            *ngIf="selectGoodsInput.length === 0"
                            class="text-xl font-bold text-center"
                        >
                            Выберите товар!
                        </h3>
                        <!-- {{selectedServices | json}} -->
                    </div>
                </div>

                <div class="text-center" *ngIf="selectedServices.length !== 0 || selectedGoods.length !== 0">
                    <h1 class="tui-text_h4">Итог: {{check}}</h1>
                </div>
            </div>
        </div> 
    </div>
</div>